/* start global */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
   --main-color:#2196f3;
   --maincolor:#D1D1D0;
   --main-taime:.3s;
}
body{
    font-family: 'cairo' , sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/* Larg */
@media (min-width: 1200px){
    .container{
        width: 1058px;
    }
}
/* end global */
/* start header */
.header {
    background-color: white;
    position: relative;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    height: 72px;
}
.header .logo{
    text-decoration: none;
    color:var(--main-color) ;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 26px;
    justify-content: center;
    height: 72px;
}
.header .main-nav{
    display: flex;
    margin: 0;
}
.header .main-nav li a{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding:0 30px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-taime);
}
.header .container .main-nav li a:hover::before {
    width: 100%;
}
.header .container .main-nav li a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    background-color: var(--main-color);
    z-index: 1;
    transition: var(--main-taime);
    top: 0;
    left: 0;
}
.header .container .main-nav li a:hover{
    color: var(--main-color);
    background-color: #fafafa;
}
/* start menu  */
.header .menu{
    width: 100%;
    position: absolute;
    display: flex;
    padding: 30px;
    border-bottom: 5px solid var(--main-color);
    opacity: 0;
    background-color: white;
    z-index: -1;
    left: 0;
    gap: 40px;
    top: calc(100% + 50px);
}
.header .menu .img img{
    max-width: 100%;
    height: 250px;
}
.header .menu .links{
    min-width: 250px;
    flex: 1;
}
.header .menu .links li a{
    height: 50px;
}
.header .menu .links li a{
    display: block;
    padding:15px;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}
.header .main-nav .menu .links a i{
    margin-right: 10px;
}
.header .main-nav .menu .links li:not(:last-child){
    border-bottom: .2px solid #ccc;
}
.header .main-nav .menu .links li a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: var(--maincolor);
    z-index: -1;
    top: 0;
    left: 0;
    transition:var(--main-taime);
}
.header .main-nav .menu .links li a:hover:before{
    width: 100%;
}
 .header .container .main-nav li:hover .menu{
    opacity: 1;
    z-index: 2;
    transform: translateY(-50px);
    transition: var(--main-taime);
}
@media(max-width:991px){
    .header .main-nav li .menu .img{
        display: none;
    }
}
@media(max-width:768px){
    .header .container{
        flex-direction: column;
    }
    .header .main-nav li a{
        height: 40px;
        font-size: 14px;
        padding:10px;
    }
    .header .logo{
        height: 50px;
    }
    .header .main-nav li .menu{
        flex-direction: column;
    }
    .header .main-nav .menu .links li{
        border-bottom: 1px solid #ccc;
        height: 60px;
    }
    .header .main-nav .menu{
        gap: 0;
    }
    .header .main-nav .menu .links li{
      height: 52px;
    }
}
/* end menu  */
/* end header  */
/* start lorem */
.lorem{
   position: relative;
}
.lorem::before{
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.lorem .container{
    display: flex;
    align-items: center;
    height: calc(100vh - 72px);
    padding-bottom: 120px;
}
.lorem img{
    width: 600px;
    position: relative;
    animation-name: img;
    animation-duration: 5s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}
.lorem .text{
    flex: 1;
}
.lorem .text p{
    margin: 5px 0 0;
    line-height: 1.7;
    color: #666;
    font-size: 19px;
    max-width: 426px;
}
.lorem .text h1{
    letter-spacing: -2px;
    font-size: 32px;
    margin: 0;

}
.lorem .icons{
    position: absolute;
    color: var(--main-color);
    left: 50%;
    bottom: 30px;
    transition: var(--main-taime);
    transform: translateY(-50%);
}
.lorem .icons i{
    animation-name: icons;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}
@media(max-width:991px){
    .lorem img{
        display: none;
    }
    .lorem .text{
        text-align: center;
    }
    .lorem .text p {
        margin: 10px auto;
    }
}
@keyframes img {
    0%,100%{
        transform: translatey(0px);
    }
    50%{
        transform:translateY(-50px) ;
    }
}
@keyframes icons {
    0%,10%,20%,50%,80%,100%{
        transform: translatey(0px);
    }
    40%,60%{
        transform:translateY(-15px) ;
    }
}
/* end lorem */
/* start articoles */
.articles {
    padding: 100px 0;
    position: relative;
}
.main-titl{
    border: 2px solid black;
    width:fit-content;
    position: relative;
    padding: 10px 20px;
    margin: 10px auto 70px;
    text-transform:uppercase ;
    transition: var(--main-taime);
    font-size: 25px;
    z-index: 1;
}
.main-titl::before,
.main-titl::after{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 50%;
    transition: var(--main-taime);
    transform: translateY(-50%);
}
.main-titl::after{
    right:-30px;
}
.main-titl::before{
    left:-30px;
}
.main-titl:hover{
    color: white;
    border: 2px solid transparent;
    transition-delay:.5s ;
}
.main-titl:hover::before{
    animation: left-move 0.5s linear forwards;
    z-index: -1;
}
.main-titl:hover::after{
  animation: right-move 0.5s linear forwards;
  z-index: -1;
}
@keyframes left-move{
      50%{
       left: 0;
       width: 12px;
       height: 12px;
    }
    100%{
        left: 0;
        border-radius: 0;
        height: 100%;
        width: 60%;
}
}
@keyframes right-move{
    50%{
       right: 0;
       width: 12px;
       height: 12px;
    }
    100%{
        right: 0;
        border-radius: 0;
        height: 100%;
        width: 50%;
    }
}
/* end articoles */
/* start article  */
.articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(226px,1fr));
    gap: 40px;
}
.articles .box img{
    width: 100%;
    max-width: 100%;
}
.articles .box{
    box-shadow: 0 2px 15px rgb(0 0 0 /10%);
    overflow: hidden;
    border-radius: 6px;
    transition: var(--main-taime);
}
.articles .box:hover{
    transform: translateY(-10px);
    box-shadow:0 2px 15px rgb(0 0 0 /20%) ;
}
.articles .box .content{
    padding: 20px;
}
.articles .box .content h3{
    margin:0;
}
.articles .box .content p{
    line-height: 1.5;
    color: #777;
    margin: 10px 0 0;
}
.articles .box .info{
    padding:20px;
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
    border-top: 1px solid #e6e6e7;
}
.articles .box .info a{
   color: var(--main-color);
   font-weight: bold;
}
.articles .box:hover i{
   animation: icon .7s infinite  linear;
}
.articles .spides{
    position: relative;
}
.articles .spides::after{
    content:"" ;
    position: absolute;
    right: 0;
    width: 100%;
    height: 15px;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
    top: 100px;
}
@keyframes icon{
    100%{
        transform: translateX(10px);
    }
}
/* end articles  */
/* start gallery */
.gallety{
    background-color: #ecedec;
    padding: 100px 0;
}
.gallety .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.gallety .box{
  
    border: 15px solid white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
    background-color: white;
    overflow: hidden;
}
.gallety .box img{
    width: 100%;
}
.gallety .box .img:hover{
    transform: rotate(5deg) scale(1.08);
    transition: var(--main-taime);
}
.gallety .box .img{
    position: relative;
}
.gallety .box .img::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: rgb(255 255 255 / 20%);
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.gallety .box .img:hover::before{
    transition: .01s;
    animation: color-w .3s forwards;
}
@keyframes color-w{
    99%{
    width: 100%;
    height: 100%;
    }
}
/* end gallery */
/* start features */
.features {
    margin: 100px 0;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
    text-align: center;
}
.features .box{
    border: 1px solid #ccc;
}
.features .box img{
    width: 100%;
}
.features .box p{
    padding: 25px;
    margin: 30px 0;
    line-height: 2;
    font-size: 20px;
    color: #777;
}
.features .box h1{
    position: relative;
    text-transform: capitalize;
    width: fit-content;
    margin: auto;
    font-size: 40px;
}
.features .box h1::after{
    content: "";
    position: absolute;
    height: 5px;
    bottom: -20px;
    left: 15px;
    width: calc(100% - 30px);
}
.features .box .t-1::after{
    background-color: #F54037;
}
.features .box .t-2::after{
    background-color: #019788;
}
.features .box .t-3::after{
    background-color: #02A8F4;
}
.features .box .img{
    position: relative;
    overflow: hidden;
}
.features .box .i-1::before{
    background-color: rgba(244 64 54 /60%);
}
.features .box .i-2::before{
    background-color: rgba(0 150 136 /60%);
}
.features .box .i-3::before{
    background-color: rgba(4 169 244 /60%);
}
.features .box .img::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: -3.5px;
    left: 0;
}
.features .box .img::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-taime);
    z-index: 3;
}
.features .box:hover .img::after{
    border-width: 0px 500px 170px 500px;
}
.features .box a{
    display: inline-block;
    border: 3px solid ;
    padding:10px 30px;
    width: fit-content;
    margin: 0 auto 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    text-transform: capitalize;
}
.features .box a::after{
  content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    transition: var(--main-taime);
    z-index: -2;
}
.features .box .a-1::after{
    background-color: #F54037;
}
.features .box .a-2::after{
    background-color: #019788;
}
.features .box .a-3::after{
    background-color: #02A8F4;
}
.features .box:hover a::after{
    width: 100%;
}
.features .box:hover a{
    color: white;
    background-position: left bottom;
}
.features .box .a-1{
    border-color:#F54037 ;
    color: #F54037;
}
.features .box .a-2{
    border-color:#019788 ;
    color: #019788;
}
.features .box .a-3{
    border-color:#02A8F4 ;
    color: #02A8F4;
}
/* end features */
/* start testimonials */
.testimonials{
    background-color: #ecedec;
    padding: 100px 0;
}
.testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.testimonials .box{
    background-color: white;
    padding: 20px;
    position: relative;
}
.testimonials  .box img{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -50px;
    right: -10px;
    border: 10px solid #ecedec;
}
.testimonials  .box h4{
    margin-bottom: 10px;
}
.testimonials  .box span{
    display: block;
    margin-bottom: 10px;
    color: #777;
}
.testimonials  .box p{
    margin-top: 10px;
    color: #777;
    line-height: 1.5;
}
.testimonials  .box .rate .fa-solid{
    color: #FFC107;
}
/* end testimonials */
/* start team members */
.members{
    margin-top: 100px;
}
.members .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
}
.members .box{
    position: relative;
}
.members .box::after{
    content: "";
    position: absolute;
    width: calc(100% - 60px);
    height: 100%;
    right: 0;
    background-color: #f3f3f3;
    top: 0;
    z-index: -2;
    border-radius: 10px;
}
.members .box::before{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    right: 0;
    background-color: #E5E4E5;
    top: 0;
    z-index: -1;
    border-radius: 10px;
    transition: var(--main-taime);
}
.members .box:hover:before{
    width: calc(100% - 60px);
}
.members .box .in-box{
    display: flex;
    gap: 23px;
    padding-top: 60px;
}
.members .box img{
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-taime);
}
.members .box:hover img{
    filter: grayscale(100%);
}
.members .box .social{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.members .box .social i{
    color: #777;
    transition: var(--main-taime);
}
.members .box .social i:hover{
    color: #02A8F4;
}
.members .box .info{
    padding-left: 80px;
}
.members .box .info h3{
    color: #02A8F4;
    margin-top: 20px;
}
.members .box:hover .info h3{
    color: #777;
}
.members .box .info p{
    margin-top: 10px;
    margin-bottom: 25px;
}
.members .spides{
    position: relative;
}
.members .spides::after{
    content:"" ;
    position: absolute;
    right: 0;
    width: 100%;
    height: 15px;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
    top: 100px;
}
/* end members  */
/* srart services */
.services{
    background-color:#ecedec ;
    padding: 100px 0;
    margin-top: 100px;
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.services .box{
    position: relative;
    background-color: white;
    text-align: center;
    counter-increment: services;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-taime);
}
.services .box::before{
    content: "";
    position: absolute;
    width: 0;
    transform: translateX(-50%);
    height: 3px;
    background-color: var(--main-color);
    left: 50%;
    transition: var(--main-taime);
    top: -3px;
}
.services .box:hover:before{
    width: 100%;
}
.services .box:hover{
    transform: translateY(-10px);
}
.services .box i{
    margin: 30px 0 20px;
    color: #d5d5d5;
}
.services .box h3{
    color: var(--main-color);
    text-transform: capitalize;
    margin-bottom: 40px;
    font-size: 25px;
}
.services .details{
    background-color: #f9f9f9;
    padding: 15px;
    position: relative;
    text-align: right;
}
.services .details::after{
    content: "0" counter(services);
    position: absolute;
    height: 100%;
    width: 80px;
    color: white;
    background-color: var(--main-color);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding-right: 15px;
    font-weight: bold;
}
.services .details::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: var(--maincolor);
    top: 0;
    left: 79px;
    z-index: 2;
    transform: skewX(-26deg);
}
.services .details a{
    color: #02A8F4;
}
/* end services */
/* start our skills */
.our-skills{
    padding: 100px 0;
}
.our-skills .container{
    display: flex;
}
.our-skills .skills {
    width: 100%;
}
.our-skills .skills h3{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}
.our-skills .skills h3 span{
    border: 1px solid #ccc;
    color: var(--main-color);
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 4px;
}
.our-skills .skills .skill .the-progres{
    background-color: #eee;
    height: 30px;
    width: 100%;
    position: relative;
}
.our-skills .skills .skill .the-progres span{
    background-color: var(--main-color);
    position: absolute;
    height: 100%;
    animation: width 0.5s linear;
}
@keyframes width{
    0%{
        width: 0;
    }
}
@media (max-width:991px){
    .our-skills img{
        display: none;
    }
}
/* end our-skills */
/* srart how it works?  */
.how-it-works{
    padding: 100px 0;
    background-color: #ecedec;
}
.how-it-works .container{
    display: flex;
    align-items: center;
}
.how-it-works .image{
    margin-right: 100px;
    width: 414px;
    max-width: 100%;
}
.how-it-works .works .box{
    display: flex;
    padding: 30px;
    margin-bottom: 20px;
    background-color: #f6f5f5;
    border: 2px solid white;
    border-radius: 6px;
    align-items: center;
    position: relative;
    z-index: 1;
}
.how-it-works .works .box::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: #ededed;
    transition: var(--main-taime);
    left: 50%;
    top: 50%;
    z-index: -1;
    transform: translate(-50%,-50%);
    border-radius:6px;
}
.how-it-works .works .box:hover::after{
    width: 100%;
    height: 100%;
}
.how-it-works .works .box .text h3{
    font-size: 22px;
    margin: 0;
    text-transform: capitalize;
}
.how-it-works .works .box .text p{
    color: #777;
    line-height: 1.7;
    font-size: 16px;
    margin:10px 0 0;
}

.how-it-works .works .box img{
    width: 64px;
    margin-right: 30px;
}
@media (max-width:991px){
    .how-it-works .container {
         flex-direction: column;
         gap: 50px;
     }
 }
/* end how it works  */
/* start latest events  */
.events{
    padding: 100px 0;
    position: relative;
}
.events .container{
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
}
.events img{
    max-width: 450px;
}
.events .info{
    width: 578px;
}
.events .info .time{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 20px auto;
}
.events .info .time .unit{
    width: 75px;
    border: 1px solid #d4d4d4;
    text-align: center;
    border-radius: 6px;
    transition: var(--main-taime);
}
.events .info .time .unit:hover{
    border: 1px solid var(--main-color);
}
.events .info .time .unit span:first-child{
    padding: 15px;
    color: var(--main-color);
    font-size: 35px;
    font-weight: bold;
}
.events .info .time .unit span:last-child{
    border-top: 1px solid #d4d4d4;
    padding:8px 10px;
    font-size: 13px;
    transition: var(--main-taime);
}
.events .info .time .unit:hover span:last-child{
    border-top: 1px solid var(--main-color);
}
.events .info .time .unit span{
   display: block;
}
.events .info .title{
    margin-top: 40px;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
}
.events .info .lor{
    line-height: 1.7;
    color: #777;
    font-size: 18px;
    text-align: center;
}
.events .subscribe{
    width: 100%;
    margin-top: 50px;
}
.events .subscribe form{
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}
.events .subscribe input:first-child{
    caret-color: var(--main-color);
    flex: 1;
}
.events .subscribe input:last-child{
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    transition: var(--main-taime);
}
.events .subscribe input:last-child:hover{
    background-color: #1786E1;
}
.events .subscribe input{
    padding: 20px;
    border-radius: 50px;
    border: none;
}
.events .dots-up{
    position: absolute;
    top: 589px;
    transform: translateX(-7px) scale(0.9);
}
.events .dots-down{
    position: absolute;
    right: 0;
    top: 217px;
    transform: translateX(7px) scale(0.9);
}
@media (max-width:768px){
    .events .subscribe input{
        border-radius: 0;
     }
     .events .subscribe form{
        border-radius: 0;
        flex-direction: column;
        width: calc(100% - 50px);
     }
 }
@media (max-width:991px){
   .events .container img{
        display: none;
    }
}
/* end events  */
/* start pricing plans*/
.pricing-plans{
    padding: 100px 0 ;
    background-color:#ecedec ;
    position: relative;
}
.pricing-plans .container{
    display: grid;
   grid-template-columns: repeat(auto-fill,minmax(270px,1fr));
   gap: 30px;
}
.pricing-plans .box{
    background-color: white;
    text-align: center;
    position: relative;
    z-index: 1;
    box-shadow: 0px 12px 20px rgb(0 0 0 / 13%), 0px 2px 4px rgb(0 0 0 / 12%);
}
.pricing-plans .box::after{
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    top: 0;
    left: 0;
    z-index: -1;
    transition: var(--main-taime);
}
.pricing-plans .box::before{
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    bottom:0;
    right:0;
    z-index: -1;
    transition: var(--main-taime);
}
.pricing-plans .box:hover:after{
    width: 100%;
}
.pricing-plans .box:hover::before{
    width: 100%;
}
.pricing-plans .box-x{
    transform: translateY(-20px);
}
.pricing-plans .box .titel{
    font-size: 22px;
    font-weight: bold;
    margin: 30px 0;
    letter-spacing: -1px;
    text-transform: capitalize;
    position: relative;
}
.pricing-plans .box-x .titel::before{
    content: "Most Popular";
    position: absolute;
    background-color: var(--main-color);
    padding: 10px 36px 10px 10px;
    transform: rotate(90deg);
    color: white;
    font-size: 18px;
    right: -28px;
    top: 22px;
}
.pricing-plans .box-x .titel::after{
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: white;
    right: 27px;
    top: 97px;
    transform: rotate(45deg);
    transition: var(--main-taime);
}
.pricing-plans .box-x:hover .titel::after{
    background-color:#f6f6f6 ;
}
.pricing-plans .box img{
    width: 80px;
    margin-bottom: 30px;
}
.pricing-plans .box .price{
    margin-bottom: 20px;
}
.pricing-plans .box .price .amount{
    display: block;
    color: var(--main-color);
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 5px;
}
.pricing-plans .box .price .time{
    color: #777;
}
.pricing-plans .box ul{
    text-align: left;
    padding-left: 0;
}
.pricing-plans .box ul li{
    padding: 15px;
    border-top: 1px solid #eee;
    position: relative;
    cursor: pointer;
}
.pricing-plans .box ul li::before{
    content: "\f00c";
    color: var(--main-color);
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
    font-weight: bold;
}
.pricing-plans .box a{
    display: block;
    padding: 10px 15px;
    margin: 25px auto 35px;
    width: fit-content;
    color:  var(--main-color);
    font-weight: bold;
    border: 2px solid  var(--main-color);
    border-radius: 5px;
}
.pricing-plans .box a:hover{
    background-color: var(--main-color);
    color: white;
}
.pricing-plans .dots-up{
    position: absolute;
    top: 650px;
    transform: translateX(-7px) scale(0.9);
}
.pricing-plans .dots-down{
    position: absolute;
    right: 0;
    top: 202px;
    transform: translateX(7px) scale(0.9);
}
/* end pricing plans */
/* start top videos  */
.top-videos{
    padding: 100px 0;
}
.top-videos .container{
    display: flex;
}
.top-videos .list{
    border: 1px solid #e2e2e2;
}
.top-videos .list .name{
    padding: 20px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
}
.top-videos .list ul{
    padding-left: 0;
    margin: 0;
}
.top-videos .list ul li{
    padding: 18px 20px;
    position: relative;
    border-top: 1px solid #e2e2e2;
    text-transform: capitalize;
    font-size: 14px;
    transition:var(--main-taime);
    cursor: pointer;
}
.top-videos .list ul li:hover{
    color: var(--main-color);
    background-color: hsl(0, 0%, 98%);
}
.top-videos .list ul li span{
    display: block;
    margin-top: 10px;
    color: #777;
}
.top-videos .photo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e2e2e2;
    padding: 10px;
}
.top-videos .photo img{
    max-width: 741px;
}
.top-videos .info{
    padding: 20px;
    text-transform: capitalize;
    background-color: white;
    font-size: 14px;
}
@media (max-width:991px){
    .top-videos .container{
        flex-direction: column;
    }
}
/* end top videos  */
/* start stats */
.stats{
    padding: 90px 0;
    background-image: url(/stats.jpg);
    background-size: cover;
    /* min-height: 300px; */
    position: relative;
}
.stats::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255 255 255 /95%);
    top: 0;
    left: 0;
}
.stats h2{
    font-weight: bold;
    font-size: 35px;
    width: fit-content;
    margin: 0 auto 40px;
    position: relative;
    z-index: 2;
}
.stats .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 20px;
    position: relative;
    z-index: 2;
}
.stats .box{
    background-color: white;
    text-align: center;
    padding: 25px 10px;
    position: relative;
}
.stats .box::after{
    content: "";
    position: absolute;
    height: 0;
    width: 2px;
   background-color: var(--main-color);
    z-index: 2;
    top: 0;
    right: 0;
    transition: 1s;
}
.stats .box:hover:after{
    height: 100%;
}
.stats .box::before{
    content: "";
    position: absolute;
    height: 0;
    width: 2px;
   background-color: var(--main-color);
    z-index: 2;
    bottom:0;
    left: 0;
    transition: 1s;
}
.stats .box:hover::before{
    height: 100%;
}
.stats .box i{
    margin-bottom: 10px;
    font-size: 28px;
}
.stats .box .number{
    display: block;
    margin-bottom: 15px;
    font-size: 45px;
    font-weight: bold;
}
.stats .box .text{
    color: var(--main-color);
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
}
/* end stats  */
/* start reques a discount */
.discount{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}
.discount .imag{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/discount-background1.jpg);
    color: white;
    background-size: cover;
    position: relative;
    z-index: 1;
    animation: photo 10s linear infinite;
}
.discount .imag::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}
.discount .content{
    text-align: center;
    padding:0 20px;
}
.discount .content p{
    font-size: 16px;
    max-width: 450px;
    line-height: 1.6;
}
.discount .content h2{
    font-size: 36px;
    letter-spacing: -2px;
}
.discount .imag .content img{
    width: 270px;
    max-width: 100%;
}
.discount .form{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    padding-bottom: 21px;
}
.discount .form .input{
   display: block;
   width: 100%;
   padding: 15px;
   margin-bottom: 20px;
   background-color: #f9f9f9;
   border: none;
   border-bottom: 1px solid #ccc;
   font-size: 14px;
   caret-color: var(--main-color);
   transition: var(--main-taime);
}
.discount .form  textarea{
    height:176px ;
    resize: none;
}
.discount .form [type="submit"]{
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 17px;
}
.discount .form [type="submit"]:hover{
    background-color:#1787e0 ;
}
@keyframes photo{
    0%,100%{
        background-image: url(/discount-background1.jpg);
    }
    50%{
        background-image: url(/discount-background2.jpg);
    }
}
@media(max-width:991px){
    .discount{
        flex-direction: column;
    }
}
/* end discount  */
/* start footer  */
.footer{
    background-color: #191919;
    padding-top: 62px;
    color: white;
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
    gap: 36px;
}
.footer .box h3{
    font-size: 40px;
    margin: 0 0 23px;
}
.footer .box .social{
    display: flex;
    gap: 10px;
    padding: 0;
}
.footer .box .social li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    color: #b9b9b9;
    background-color: #313131;
    transition: var(--main-taime);
}
.footer .box .social .facebook:hover{
    background-color: #1976F2;
}
.footer .box .social .twitter:hover{
    background-color: #1CA0F2;
}
.footer .box .social .youtube:hover{
    background-color: red;
}
.footer .box p{
    color:#b9b9b9;
    line-height: 2;
    font-size: 15px;
}
.footer .box .social li i{
    color: #b9b9b9;
}
.footer .box .links{
    padding: 0;
    margin: 0;
}
.footer .box .links li:not(:last-child){
    border-bottom: 1px solid #444 ;
}
.footer .box .links li{
    padding: 13px 0;
}
.footer .box .links li a{
    transition: var(--main-taime);
    color:#b9b9b9;
    display: block;
    font-size: 15px;
}
.footer .box .links li:hover a{
    transform: translateX(10px);
    color: white;
}
.footer .box .links li a::before{
    content: "\F101";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    color: var(--main-color);
    margin-right: 10px;
}
.footer .box .line{
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}
.footer .box .line i{
    margin-right: 10px;
    color: var(--main-color);
    font-size: 20px;
}
.footer .box .line .info{
    color:#b9b9b9;
    line-height: 1.7;
    font-size: 15px;
    flex: 1;
    text-transform: capitalize;
}
.footer .box .line .info span{
    display: block;
}
.footer .box img{
    width: 69px;
    border: 3px solid white;
    margin: 2px;
}
.footer .copyright{
    text-align: center;
    border-top: 1px solid #444;
    padding: 7px;
    margin-top: 43px;
    font-size: 14px;
}
@media(max-width:768px){
    .footer{
        text-align: center;
    }
    .footer .box .social{
        justify-content: center;
    }
    .footer .box .line {
        flex-direction: column;
        gap: 10px;
    }
}
/* end footer  */